<div class="row">
	<div class='page-header'>
		<h1 style='text-align: center'><a href="/">Differentiation Demo Page</a></h1>
	</div>
</div>
<div class="row">
	<form action'/' method='post'>
	<div class='col-lg-12'>
		<div class='form-group'>
			<input type='text' class='form-control' name='formula' placeholder='Formula Input'>
		</div>
	</div>
	<div class='col-lg-5'>
		<div class='form-group'>
			<!--<span class="input-group-addon">
				<input type="checkbox">
			</span>-->
			<input type='text' class='form-control' name='range' placeholder='Plot Input'>
		</div>
	</div>
	<div class='col-lg-5'>
		<div class='form-group'>
		<!--	<span class="input-group-addon">
				<input type="checkbox">
			</span>-->
			<input type='text' class='form-control' name='vector' placeholder='Vector Input'>
		</div>
	</div>
	<div class='col-lg-2'>
		<button type='submit' class='btn btn-primary center-block'>Submit</button>
	</div>
	</form>
</div>
