<!DOCTYPE html>
<html>
	<head>
		<title>differentiation demo</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>

	<body>
		<div class="container">
				{% include 'header_form.html' %}
				{% if formula_input %}
					{% include 'input.html' %}
				{% endif %}
				{% if formula %}
					{% include 'result.html' %}
				{% endif %}
				{% if error %}
					{% include 'error.html' %}
				{% endif %}
		</div>
	</body>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.jslatex.packed.js"></script>
	<script src="/static/js/load_image.js"></script>	
	<script src="/static/js/vector_range_commu.js"></script>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script type=text/javascript>	
		$(function () {
			$(".latex").latex();
		});
	</script>
</html>
