<!DOCTYPE html>
<html>
	<head>
		<title>differentiation demo</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>

	<body>
		<div class="container">
				{% include 'form.html' %}
				{% if input_formula %}
					{% include 'input.html' %}
				{% endif %}
				{% if formula %}
					{% include 'result.html' %}
				{% endif %}
				{% if error %}
					{% include 'error.html' %}
				{% endif %}
		</div>
	</body>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.jslatex.packed.js"></script>

	<script>
		$(function () {
			$(".latex").latex();
		});
	</script>
</html>
